@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format(woff2);
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: black;
  text-align: center;
  background-color: #f2f2f2;
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: white;
}

.navigation {
  display: flex;
  width: 1060px;
  height: 70px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -5px;
}

.logo-img {
  margin-right: 40px;
}

.navigation-list {
  display: flex;
  padding: 0;
  margin: 0;
  width: 345px;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-around;
}

.navigation-link {
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: black;
  background: white;
  text-decoration: none;
  padding-top: 20px;
}

.navigation-user {
  max-width: 290px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
}

.navigation-link-button {
  display: inline-block;
  margin-top: 14px;
  margin-bottom: 19px;
  padding-top: 9px;
  padding-bottom: 8px;
  width: 160px;
  background: #756257;
  color: white;
  text-transform: uppercase;
  line-height: 20px;
  font-size: 16px;
  border-radius: 10px;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
  padding: 0;
}

.main-img-wrapper {
  background-image: url(../images/main-caption/main-caption-background.jpg);
  background-repeat: no-repeat;
  height: 485px;
}

.main-caption {
  margin-top: 51px;
}

.main-headline {
  padding-top: 63px;
  margin-bottom: 31px;
  font-size: 30px;
  line-height: 36px;
  width: 720px;
  margin: 0 auto;
  text-transform: uppercase;
}

.main-text {
  font-size: 22px;
  line-height: 36px;
  width: 720px;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
}

.advantages-item {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

.advantages-list {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 auto;
}

.advantages-wrapper {
  width: 400px;
  height: 384px;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  color: white;
  margin-top: 98px;
  margin-bottom: 30px;
  text-transform: uppercase;
  padding-left: 110px;
  padding-right: 110px;
}

.advantages-number {
  font-size: 18px;
  line-height: 21px;
  color: white;
  margin-bottom: 30px;
  margin-top: 0;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  color: white;
  margin-top: 0;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.dark-blue-background .advantages-description {
  width: 220px;
}

.recommendation-section {
  display: flex;
  flex-wrap: wrap;
}

.recommendation-img {
  margin-top: 89px;
  margin-bottom: 23px;
}

.recommendation-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.recommendation-description {
  font-size: 18px;
  line-height: 21px;
  margin-top: 0;
  margin-bottom: 79px;
  padding-bottom: 10px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.black-text h3 {
  color: black;
}

.black-text p {
  color: black;
}

.dark-blue-background {
  background: #83b3d3;
}

.blue-background {
  background: rgba(131, 179, 211, 0.12);
}

.middle-blue-background {
  background: rgba(131, 179, 211, 0.2);
}

.white-background {
  background: white;
}

.main-search {
  width: 1200px;
  margin-top: 0;
}

.search-headline {
  padding-top: 91px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  width: 720px;
  margin: 0 auto;
  margin-bottom: 29px;
  text-transform: uppercase;
}

.search-text {
  font-size: 22px;
  line-height: 26px;
  width: 720px;
  margin-bottom: 56px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.main-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: white;
  background: #756257;
  border-radius: 10px;
  width: 575px;
  margin: 0 auto;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 93px;
}

.subscribe {
  color: white;
  background-image: url(../images/subscribe-background.jpg);
  height: 411px;
  background-repeat: no-repeat;
  background-position-x: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.subscribe-offer {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  width: 720px;
  text-transform: uppercase;
  margin-top: 94px;
  margin-bottom: 29px;
  margin-left: auto;
  margin-right: auto;
}

.subscribe-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  width: 720px;
  margin: 0 auto 46px;
}

.newsletter-form {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 93px;
}

.newsletter-field {
  font-size: 18px;
  line-height: 26px;
  border-radius: 10px 0px 0px 10px;
  font-family: inherit;
  padding-left: 22px;
  border: 0;
  width: 600px;
  height: 60px;
  box-sizing: border-box;
}

.newsletter-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  background: #83b3d3;
  border-radius: 0px 10px 10px 0px;
  font-family: inherit;
  border: 0;
  padding: 0;
  width: 200px;
  color: white;
  text-transform: uppercase;
}

.footer-container {
  width: 1200px;
  height: 120px;
  display: flex;
  margin: 0 auto;
}

.social-logos {
  margin-left: 72px;
  padding-top: 49px;
}

.social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.social-link {
  width: 20px;
  height: 20px;
  display: block;
}

.social-item {
  margin-right: 30px;
  margin-bottom: 53px;
}

.social-item:last-child {
  margin-right: 61px;
}

.number {
  width: 720px;
  font-size: 40px;
  line-height: 40px;
  color: black;
  background: white;
  padding-top: 40px;
  margin-right: 53px;
}

.htmlacademy-logo {
  margin-top: 42px;
}

/* catalog.html  */

.form-section {
  background-image: url("../images/form-section-background.jpg");
  background-position-x: center;
  background-repeat: no-repeat;
  width: 1200px;
  height: 408px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.main-headline-inner {
  font-size: 60px;
  line-height: 78px;
  color: white;
  width: 528px;
  margin-left: 71px;
  padding-top: 35px;
  margin-top: 0;
  margin-bottom: 5px;
}

.breadcrumbs-list {
  display: flex;
  padding: 0;
  margin-top: 0;
  margin-bottom: 45px;
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: white;
  text-decoration: none;
  margin-left: 73px;
  margin-right: 26px;
  padding: 0;

}

.breadcrumbs-catalog {
  font-size: 16px;
  line-height: 21px;
  color: white;
}


.form-inner {
  display: flex;
}

.form-list {
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin: 0;
}
.form-legend {
  margin-bottom: 30px;
}
.form-item {
  margin-bottom: 13px;
}
.form-fieldset {
  border: 0;
  padding-right: 67px;
}

.checkbox-wrapper {
  margin-top: 0;
  margin-left: 71px;
  margin-right: 67px;
  padding: 0;
  display: flex;
}

.radio-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
}

.form-legend {
  display: flex;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: white;
  padding: 0;
}

.form-label {
  font-size: 18px;
  line-height: 23px;
  color: white;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 72px;
  margin-left: auto;
}

.form-submit {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  background: #83b3d3;
  font-family: inherit;
  width: 160px;
}

.form-reset {
  font-size: 18px;
  line-height: 23px;
  color: black;
  background: none;
  font-family: inherit;
  width: 160px;
}

.form-result {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

.results-container {
  display: flex;
  width: 1057px;
  padding-top: 54px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 53px;
}

.results-text {
  font-size: 30px;
  line-height: 39px;
  width: 337px;
  margin: 0;
  margin-right: 192px;
  text-transform: uppercase;
}


.select-control-results {
  font-size: 18px;
  line-height: 23px;
  width: 287px;
  height: 48px;
  margin: 0;
}

.hotels-list {
  list-style-type: none;
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 1056px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.hotels-item {
  padding: 20px;
  margin-bottom: 10px;
}
.hotels-item:last-child {
  margin-bottom: 0;
}
.hotels-link {
  text-decoration: none;
}
.hotels-img {
  margin-bottom: 16px;
}
.hotels-headline {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  color: black;
  margin-bottom: 16px;
  text-align: start;
}
.hotels-mark-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.hotels-mark {
  font-size: 18px;
  line-height: 23px;
  margin: 0;

}

.hotels-button-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.hotels-button {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  font-family: inherit;
}



.hotels-button-info {
  background: #756257;
  width: 133px;
}

.hotels-button-favorites {
  background: #83b3d3;
  width: 140px;
}

.hotels-button-done {
  background: #7db54f;
  width: 140px;
}

.hotels-rating-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 20px;
}

.hotels-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  background: #f2f2f2;
  border-radius: 4px;
}

.button-more {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: white;
  background: #83b3d3;
  border-radius: 4px;
  font-family: inherit;
  width: 619.83px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0;
}
.pagination-wrapper {
  display: flex;
  width: 1056px;
  margin: 0 auto;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.pagination-item {
  margin-right: 8px;
  margin-bottom: 73px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  width: 55px;
  height: 55px;
  display: block;
  font-size: 20px;
  line-height: 26px;
  color: white;
  background: #83b3d3;
  text-decoration: none;
  padding: 15px 15px;
  box-sizing: border-box;
}

.pagination-actual {
  color: black;
  background: #f2f2f2;
}

.quantity-results-wrapper {
  margin-left: auto;
  margin-right: 72px;
}
.hotels-on-page {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.select-control {
  font-size: 18px;
  line-height: 23px;
  margin-left: 51px;
}


.subscribe-inner {
  background: white;
  width: 800px;
  margin: 0 auto;
}
.subscribe-offer-inner {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 46px;
}

.subscribe-description-inner {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  width: 720px;
  margin: 0 auto 46px;
}

.newsletter-field-inner {
  background: #f2f2f2;
}

.newsletter-form:last-child {
  margin-bottom: 141px;
